APP_IMAGE=crpi-tdbcyhugv30sskjj.cn-guangzhou.personal.cr.aliyuncs.com/alex_zcz/alex-api:example-tag
CONTAINER_NAME=alex-api
APP_PORT=9000
CONTAINER_PORT=8888
SPRING_PROFILES_ACTIVE=test
DEPLOY_LOG_DIR=./logs
APP_NETWORK=network
